<%# Edit Project %>
<% content_for :title, "Edit #{@project.title}" %>

<div class="page-header">
  <a href="<%= admin_projects_path %>" class="back-link">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <line x1="19" y1="12" x2="5" y2="12"/>
      <polyline points="12 19 5 12 12 5"/>
    </svg>
    <span>Back to Projects</span>
  </a>
  <h1>Edit Project</h1>
</div>

<%= render 'form' %>
